::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #bef264;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a3e635;
}

/* lime-500 */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}